*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.hero{
    display: flex;
    height: 100vh;
    background-size: cover;
    box-shadow: inset 0 0 2000px rgba(0, 0,0 , 4);
}

.content {
    position: relative; /* Required for positioning the pseudo-element */
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    box-sizing: border-box;
    border-radius: 20px;
    opacity: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Content background color */
    z-index: 1; /* Ensure content stays above the border cover */
    overflow: hidden; /* Prevent the pseudo-element from spilling out */
    transition: all 0.3s ease; /* Smooth transition effect */
  }

  .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: transparent;
    z-index: -1; 
    transition: background-color 0.3s ease; 
  }